<h1>What is this?</h1>
<p>This is a website where you can share your secrets with other users. 
Anyone who signs up and logs in will be able to see who who authored each secret,
but on the outside you'll just be left in the dark wondering who said all of these juicy secrets.</p>
<p>So <%= link_to "sign up", new_user_registration_path %> or <%= link_to 'sign in', new_user_session_path %> now.</p>