<div class = "post" id="<%= dom_id post %>">
  <p class = 'title' >
    <%= post.title %>
  </p>

  <%= post.body %>

  <p class = 'author' >
    <strong>By:</strong>
    <% if user_signed_in? %>
      <%= post.user.name %>
    <% else %>
      Anonymous
    <% end %>
  </p>

</div>
