<div class="content">
  
  <div class="sidebar">
    <% if user_signed_in? %>
      <%= render 'manager' %>
    <% else %>
      <%= render 'explanation' %>
    <% end %>
  </div>
  
  <div class="posts">
    <% @posts.each do |post| %>
      <%= render post %>
    <% end %>
  </div>
  
</div>
