/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  box-sizing:border-box
}

body, html {
  padding: 0;
  margin: 0;
}

body, button[type=submit] {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

 .notice, .alert {
  width: 100%;
  padding: .2rem .5rem;
}

 .notice {
  background-color: lightgreen;
}

.alert {
  background-color: lightcoral;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.post {
  border: 1px solid black;
  border-radius: .5rem;
  min-width: 15rem;
  flex-grow: 1;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: slateblue;
  height: 5rem;
  padding: 0 2rem;
}

header span {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.account-buttons {
  display: flex;
  gap: 1rem;
}

button, a {
  text-decoration: none;
  color: slateblue;
  background-color: white;
  box-shadow: none;
  border: none;
  font-size: 1.2rem;
}

.account-buttons .nav {
  background-color: white;
  border-radius: 1rem;
  padding: .2rem 1rem;
}