/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  box-sizing:border-box
}

body, html {
  padding: 0;
  margin: 0;
}

body, button[type=submit] {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

 .notice, .alert {
  width: 100%;
  padding: .2rem .5rem;
}

 .notice {
  background-color: lightgreen;
}

.alert {
  background-color: lightcoral;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.owned_post, .post {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 2rem;
}

p.title {
  font-weight: bold;
}

.post {
  border-radius: .5rem;
  max-width: fit-content;
  max-height: fit-content;
  flex: 1 1 20rem;
  -webkit-box-shadow: 1px 1px 12px 0px #c4bbf0; 
  box-shadow: 1px 1px 12px 0px #c4bbf0;
}

.sidebar {
  border-radius: .5rem;
  flex-grow: 1;
  -webkit-box-shadow: 1px 1px 12px 0px #c4bbf0; 
  box-shadow: 1px 1px 12px 0px #c4bbf0;
  padding: 0 2rem;
}

.owned_post {
  border-top: 1px solid rgb(206, 206, 206);
  border-bottom: 1px solid rgb(206, 206, 206);
  padding: 0;
}

.owned_post + .owned_post {
  border-top: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: slateblue;
  height: 5rem;
  padding: 0 2rem;
}

header span {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.account-buttons {
  display: flex;
  gap: 1rem;
}

button, a {
  text-decoration: none;
  color: slateblue;
  background-color: white;
  box-shadow: none;
  border: none;
  font-size: 1.2rem;
}

input[type='submit'] {
  color: white;
  background-color: slateblue;
  font-size: 1.2rem;
  box-shadow: none;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: 0;
  border-radius: 1rem;
  padding: .2rem 1rem;
  margin:1rem 1rem;
  margin-left: auto;
}

.account-buttons .nav {
  background-color: white;
  border-radius: 1rem;
  padding: .2rem 1rem;
}

.content {
  display: grid;
  grid-template-columns: 2fr 6fr;
  padding: 1rem 2rem;
  column-gap: 2rem;
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}