<header class="header">
  <div class="logo">
    <span class="logo">secrets...</span>
  </div>
  <div class="account-buttons">
    <% if user_signed_in? %>
      <div class="nav"><%= link_to current_user.name, edit_user_registration_path %></div>
      <div class="nav"><%= button_to 'Sign Out', destroy_user_session_path,  method: :delete %></div>
    <% else %>
      <div class="nav"><%= link_to 'Sign In', new_user_session_path %></div>
      <div class="nav"><%= link_to 'Sign Up', new_user_registration_path %></div>
    <% end %>
  </div>
</header>